extends layout

block content
  // Navigation
  nav.navbar.navbar-custom.navbar-fixed-top(role='navigation' ng-controller="collapseCtrl")
    .container
      .navbar-header
        button.navbar-toggle(ng-click="isCollapsed = !isCollapsed")
          i.fa.fa-bars
        |                 
        a.navbar-brand.page-scroll(href='#page-top')
          //i.fa.fa-play-circle
          |   
          span.light Josechu y Marina 
          span= __("wedding")
      // Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-right.navbar-main-collapse(collapse="isCollapsed")
        ul.nav.navbar-nav
          // Hidden li included to remove active class from about link when scrolled up past about section
          li.hidden
            a(href='#page-top')
          li
            a.page-scroll(href='#about')= __("wedding info")
          li
            a.page-scroll(href='#rsvp')=__("rsvp")
          li
            a.page-scroll(href='#accommodations')= __("accommodations")
          li
            a.page-scroll(href='#honeymoon')= __("honeymoon")
          li
            a.page-scroll(href='#advice')= __("advice")
          li
            a.page-scroll(href='#contact')= __("contact")

      // /.navbar-collapse
    // /.container
    // Intro Header
  header.intro
      .intro-body
        .container
          .row.mb
            .col-md-8.vcenter
              img.img-responsive.img-intro(src="images/front.svg")
            .col-md-4.vcenter
              h2.intro-text= __("intro text")
              a.btn.btn-circle.page-scroll(href='#about')
                i.fa.fa-angle-double-down.animated
  
  // About Section
  section#about.container-fluid.content-section.text-center
    .col-lg-8.col-lg-offset-2(data-sr="enter left move 150px over 1s")
        h2= __("wedding info")
        img.advice-image(src="images/date.svg")
        h3= __("wedding hour")
        address
          div= __("wedding address")
          div= __("wedding address 2")
        p= __("wedding description 1")
  // Map Section
  a.map-link(href="https://maps.google.com?daddr=San+Francisco+del+Pardo")
    div.map-wrapper
      #map
      div.map-text.text-center= __("directions")

  section#rsvp.container-fluid.content-section.text-center(ng-controller="rsvpCtrl")
        .col-lg-8.col-lg-offset-2(data-sr="enter top and scale up 30% over 1.5s")
          h2= __("rsvp")
          img.advice-image(src="images/tarta.svg")
          //span.section-icon.rsvp-icon(aria-hidden="true" data-icon!="&#xe602;")
          h3!= __("rsvp request")
          form(novalidate accessibleForm ng-submit="addRsvp(rsvpForm)" name="rsvpForm")
            div.form-group.col-xs-12.col-sm-12
              div.col-xs-12.col-sm-8.col-md-offset-2
                input.form-control.input-lg(type="text" placeholder=__("first name") name="rsvpName" ng-model="firstName" required)
                div(ng-show="rsvpForm.$submitted || rsvpForm.rsvpName.$touched")
                  div.val-error(ng-show="rsvpForm.rsvpName.$error.required")= __("name val")
            div.form-group.col-xs-12.col-sm-12
              div.col-xs-12.col-sm-8.col-md-offset-2
                input.form-control.input-lg(type="text" placeholder=__("last name") ng-model="lastName" name="rsvpLastName" required)
                div(ng-show="rsvpForm.$submitted || rsvpForm.rsvpLastName.$touched")
                  div.val-error(ng-show="rsvpForm.rsvpLastName.$error.required")= __("lastname val")
            div.form-group.col-xs-12.col-sm-12
              div.col-xs-12.col-sm-8.col-md-offset-2
                input.form-control.input-lg(type="email" placeholder=__("email") ng-model="email" name="rsvpEmail")
                div(ng-show="rsvpForm.$submitted || rsvpForm.rsvpEmail.$touched")
                  div.val-error(ng-show="rsvpForm.rsvpEmail.$error.required")= __("email val")
                  div.val-error(ng-show="rsvpForm.rsvpEmail.$error.email")= __("email val type")

            div.form-group.col-xs-12.col-sm-12.mb
              h3= __("rsvp assist")
              a.btn.btn-success.btn-lg.page-scroll(href="#textConfirm" ng-model="assistChoice" ng-click="assist = true" btn-radio="true")= __("yes")
              a.btn.btn-danger.btn-lg.page-scroll(href="#textConfirm" ng-model="assistChoice" ng-click="assist = false; sleepPrefChoice = ''" btn-radio="false")= __("no")
            div#textConfirm
              div.form-group.col-xs-12.col-sm-12(ng-show="assist == false")
                h3= __("we sorry")
              div.form-group.col-xs-12.col-sm-12(ng-show="assist")
                h3= __("awesome")
                div.form-group.col-xs-12.col-sm-12.mb
                  h3= __("rsvp kids")
                  a.btn.btn-success.btn-lg.page-scroll(href="#textConfirm" ng-model="kidsChoice" ng-click="kids = true" btn-radio="true")= __("yes")
                  a.btn.btn-danger.btn-lg.page-scroll(href="#textConfirm" ng-model="kidsChoice" ng-click="kids = false; kidsChoice = ''" btn-radio="false")= __("no")

                div.form-group.col-xs-12.col-sm-12(ng-show="kids == false")
                div.form-group.col-xs-12.col-sm-12(ng-show="kids")
                  div.form-group.col-xs-12.col-sm-12
                    div.col-xs-12.col-sm-8.col-md-offset-2
                      input.form-control.input-lg(type="number" ng-model="kidsNumber" name="rsvpKids")
                
                p= __("rsvp transportation")
                p= __("rsvp transportation2")
                h3= __("rsvp bus")
                div.btn-link
                  label.btn.btn-default(ng-model="busChoice" btn-radio="'No'")= __("rsvp option 1")
                  label.btn.btn-default(ng-model="busChoice" btn-radio="'Ida'")= __("rsvp option 2")
                  label.btn.btn-default(ng-model="busChoice" btn-radio="'Vuelta'")= __("rsvp option 3")
                  label.btn.btn-default(ng-model="busChoice" btn-radio="'Ida-Vuelta'")= __("rsvp option 4")
                p
                  strong=__("rsvp alergies")
                div.form-group.col-xs-12.col-sm-12
                  div.col-xs-12.col-sm-8.col-md-offset-2
                    input.form-control.input-lg(type="text" placeholder=__("alergies") ng-model="alergies" name="rsvpAlergies")
             
            div.form-group.col-xs-12.col-sm-12
              div(id="rsvp-msg" flash-alert active-class="in alert" class="fade")
                span(class="alert-message") {{flash.message}}
              div.col-sm-4.col-sm-offset-4
                - if(getLocale() === 'en')
                  button.btn.btn-success.btn-lg.btn-block.card(ng-click= "langu = 'en'" type="submit")= __("confirm")
                - if(getLocale() === 'es')
                  button.btn.btn-success.btn-lg.btn-block.card(ng-click= "langu = 'es'" type="submit")= __("confirm")

  section#accommodations.container-fluid.content-section.text-center
      .col-lg-8.col-lg-offset-2(data-sr="enter right move 150px over 1s")
        h2= __("accommodations")
        span.section-icon.accommodations-icon(aria-hidden="true" data-icon!="&#xe604;")
        h4= __("accommodations info")
        div.col-md-4
          a(href="http://www.booking.com/hotel/es/abbamadrid.html")
            div.panel.panel-accommodations.card
              div.panel-heading
                h3.panel-title Hotel Abba Madrid Avda. América
              div.panel-body
                div.mb
                  img.img-responsive(src="images/hotel-abba.jpg")
                div.mb
                  button.btn.btn-success= __("booking")
        div.col-md-4
          a(href="http://www.booking.com/hotel/es/acavenidadeamerica.html")
            div.panel.panel-accommodations.card
              div.panel-heading
                h3.panel-title AC Hotel Avda. de América
              div.panel-body
                div.mb
                  img.img-responsive(src="images/hotel-ac.jpg")
                div.mb
                  button.btn.btn-success= __("booking")
        div.col-md-4
          a(href="http://www.booking.com/hotel/es/eurostars-madrid.html")
            div.panel.panel-accommodations.card
              div.panel-heading
                h3.panel-title Hotel Exe Puerta Castilla
              div.panel-body
                div.mb
                  img.img-responsive(src="images/hotel-exe.jpg")
                div.mb
                  button.btn.btn-success= __("booking")

  section#honeymoon.container-fluid.content-section.text-center(ng-controller="musicCtrl")
      .col-lg-8.col-lg-offset-2(data-sr="hustle 20% over 1.5s")
        h2= __("honeymoon")
        div.row
          // make polaroid style with handwriting caption
          a(href="images/honolulu.jpg")
            div.col-md-2.col-md-offset-1.mb
              img.img-responsive.polaroid(src="images/honolulu.jpg")
          a(href="images/hawaii.jpg")
            div.col-md-2.mb
              img.img-responsive.polaroid(src="images/hawaii.jpg")
          a(href="images/los-angeles.jpg")
            div.col-md-2.mb
              img.img-responsive.polaroid(src="images/los-angeles.jpg")
          a(href="images/san-francisco.jpg")
            div.col-md-2.mb
              img.img-responsive.polaroid(src="images/san-francisco.jpg")
          a(href="images/las-vegas.jpg")
            div.col-md-2.mb
              img.img-responsive.polaroid(src="images/las-vegas.jpg")
        div
          h3= __("honeymoon info")
          h4 Numero de cuenta: 
          h4
            strong 1465 0100 96 2039491634



  // Advice Section
  section#advice.container-fluid.content-section.text-center(ng-controller="adviceCtrl")
      .col-lg-8.col-lg-offset-2(data-sr="enter bottom and scale up 30% over 1.5s")
        h2= __("advice title")
        img.advice-image(src="images/besitos.svg")
        hr
        div(ng-repeat="advice in adviceList | orderBy: '-created' | limitTo:limit" ng-show="advice.aproved")
          div.panel-heading
            h3.panel-title.advice-name 
              strong {{advice.name}} 
              small at {{advice.created | date:'dd-MM-yyyy HH:mm:ss'}}
          div.panel-body
            p.advice-content {{advice.content}}
            div(ng-show="advice.image")
              img.advice-image.img-responsive(ng-src="{{advice.image}}")
          hr.advice-hr
        div(ng-show="adviceList.length > limit").col-md-12
          button.btn.btn-default.card(ng-click= "limit = limit + 5")= __("see more")
        div.advice-form
          h4= __("advice intro")
          form(ng-submit="addAdvice(adviceForm, $files)" name="adviceForm" enctype="multipart/form-data" novalidate)
            div.form-group.col-xs-12.col-sm-12
              div.col-xs-12.col-sm-8.col-md-offset-2
                input.form-control.input-lg(type="text" placeholder=__("name") name="adviceName" ng-model="name" required)
                div(ng-show="adviceForm.$submitted || adviceForm.adviceName.$touched")
                  div.val-error(ng-show="adviceForm.adviceName.$error.required")= __("name val")
            div.form-group.col-xs-12.col-sm-12.mb
              div.col-xs-12.col-sm-8.col-md-offset-2
                textarea.form-control(rows="4" ng-model="content" name="adviceContent" placeholder=__("write advice") required)
                div(ng-show="adviceForm.$submitted || adviceForm.adviceContent.$touched")
                  div.val-error(ng-show="adviceForm.adviceContent.$error.required")= __("advice val")
            div.form-group.col-xs-12.col-sm-12.mb
              div.col-xs-12.col-sm-8.col-md-offset-2
                div.drop-zone.text-center(class="" ng-file-select ng-file-drop ng-model="files" accept=".jpg,.png,.gif" ng-file-change="generateThumb(files[0], $files)") 
                  div.add-file(ng-hide="files.length") Add image 
                  div.upload-preview(ng-show="files.length")
                    img(class="img-responsive" ng-src="{{files[0].dataUrl}}")
                    div.mb(ng-show="progressPercentage < 100")
                      div.progress
                        div(class="progress-bar progress-bar-striped" style="width:{{progressPercentage}}%") {{progressPercentage}}%

            div.form-group.col-xs-12.col-sm-12
              div(id="advice-msg" flash-alert active-class="in alert" class="fade")
                strong(class="alert-message") {{flash.message}}
              div.col-sm-4.col-sm-offset-4
                - if(getLocale() === 'en')
                  button.btn.btn-info.btn-lg.btn-block.card(ng-click= "langu = 'en'" type="submit")= __("send")
                - if(getLocale() === 'es')
                  button.btn.btn-info.btn-lg.btn-block.card(ng-click= "langu = 'es'" type="submit")= __("send")


  
  // Contact Section
  section#contact.intro.container-fluid.content-section.text-center
      .intro-body
        .col-lg-8.col-lg-offset-2(data-sr="scale down 20% over 1.5s")
          h2= __("contact title")
          h4= __("contact text")
          ul.banner-social-buttons
            li
              h4
                strong Josechu de Bonis 
              a.btn.btn-default.btn-lg.card.mb(href='tel:665105358')
                i.fa.fa-phone.fa-fw
                |  
                span.network-name 665105358
            li
              h4
                strong Marina de Luna
              a.btn.btn-default.btn-lg.card.mb(href='tel:606568233')
                i.fa.fa-phone.fa-fw
                |  
                span.network-name 606568233
          p
            a(href='mailto:josechuymarina@gmail.com') josechuymarina@gmail.com

